//Microsoft Developer Studio generated resource script.
//
//#include "resource.h"

/////////////////////////////////////////////////////////////////////////////
//
// Icon
//

AppIcon           ICON    "res\\lsynth.ico"

